<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login - OtakuCart</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>
<body>
    <div class="login-container">
       <h1>Login to Otaku Cart 🔐</h1>

        <form  action="/login" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>


    </div>
  {% if msg %}
    <p style="color: red;">{{ msg }}</p>
  {% endif %}
</body>
</html>
